$imgpath: "/assets/images/images";
$iconspath: "/assets/images/icons";
@import "src/theme/style-variables";
@import "src/theme/font";

.page-container {
    padding: 100px;
    .page-header {
        .page-title {
            font: normal normal 500 35px/60px SFUI_Text;
            letter-spacing: -0.5px;
            color: $white;
        }
        .page-title-muted {
            font: normal normal 600 18px/60px SFUI_Text;
            color: #6ccaa9;
            text-transform: capitalize;
        }
    }
    .page-content {
        width: 100%;
        min-height: 300px;
        background-color: $white;
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin: 50px 0px 0px 0px;
        .page-content-image-section {
            padding: 35px;
            background-color: #f9f9f9;
            display: flex;
            justify-content: center;
            align-items: center;
            .page-content-image {
                height: 314px;
                width: 314px;
            }
        }
        .page-content-form-section {
            padding: 20px 35px;
            .page-form-controls {
                .form-control-section {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    position: relative;
                    .form-control-label {
                        font: normal normal 500 16px/19px SFUI_Text;
                        color: $label;
                    }
                    .form-control {
                        height: 51px;
                        border: 1px solid #dddfe1;
                        border-radius: 3px;
                        font: normal normal normal 16px/19px SFUI_Text;
                        color: $form-control;
                        width: 100%;
                    }
                    .form-control:focus {
                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
                    }
                    .arrow-down {
                        position: absolute;
                        z-index: 10;
                        right: 30px;
                        top: 68px;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 6px solid #737373;
                    }
                }
            }
            .page-footer-btns {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                padding: 15px 0px;
                .add-btn {
                    background-color: $success-btn;
                    border-radius: 4px;
                    width: 170px;
                    border: none;
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .page-container {
        padding: 15px;
        .page-header {
            .page-title {
                font: normal normal 500 20px/0px SFUI_Text;
            }
            .page-title-muted {
                font: normal normal 600 12px/50px SFUI_Text;
            }
        }
        .page-content {
            margin: 0px;
            .page-content-image-section {
                padding: 25px;
                .page-content-image {
                    height: 160px;
                    width: 160px;
                }
            }
            .page-content-form-section {
                .page-form-controls {
                    .form-control-section {
                        padding-top: 3px;
                        padding-bottom: 3px;
                        .form-control-label {
                            font: normal normal 500 14px/17px SFUI_Text;
                            color: $label;
                        }
                        .form-control {
                            height: 35px;
                        }
                        .arrow-down {
                            top: 48px;
                            right: 25px;
                        }
                    }
                }
                .page-footer-btns {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 15px 0px;
                    .add-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 280px) {
    .page-container {
        padding: 15px;
        .page-header {
            .page-title {
                font: normal normal 500 15px/0px SFUI_Text;
            }
        }
    }
}
